.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #1c1c1c;
  overflow: hidden;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
.freeBox__uwa7R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1274px;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uwa7R {
    margin-top: calc(0px + 64px) !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__r762 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 1224px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__r762 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__r762 > :global(.__wab_flex-container) > *,
.freeBox__r762 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r762 > :global(.__wab_flex-container) > picture > img,
.freeBox__r762
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r762 {
    display: flex;
    flex-direction: column;
    width: 541px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r762 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r762 > :global(.__wab_flex-container) > *,
  .freeBox__r762 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r762 > :global(.__wab_flex-container) > picture > img,
  .freeBox__r762
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___0GiDh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 593px;
  margin-top: 0px;
  margin-right: 6px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___0GiDh {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 802px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.text__uiD9Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 55px;
  color: #eeeeee80;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__uiD9Y {
    padding-top: 16px;
    width: auto;
    font-size: 18px;
    text-align: left;
    align-self: flex-start;
  }
}
.freeBox__r4Amt {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
.freeBox__r4Amt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r4Amt {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r4Amt > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r4Amt > :global(.__wab_flex-container) > *,
  .freeBox__r4Amt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r4Amt > :global(.__wab_flex-container) > picture > img,
  .freeBox__r4Amt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 16px;
  }
}
.button__jroBa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__jroBa:global(.__wab_instance) {
    height: 58px;
    align-self: auto;
    width: 100%;
    max-width: 340px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.svg__cczgz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__f4Z1L {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.svg__sDgdn {
  position: relative;
  object-fit: cover;
  width: 26px;
  height: 26px;
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__sDgdn {
    color: #ffffff;
    margin-right: 0px;
    display: block;
  }
}
.button__lcYlR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__lcYlR:global(.__wab_instance) {
    margin-left: calc(0px + 20px) !important;
    max-width: 340px;
    width: 100%;
    height: 58px;
    min-width: 0;
    flex-shrink: 0;
    display: flex;
  }
}
.svg__pbKZk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__r9Cmw {
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__r9Cmw {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
    height: auto;
    min-width: 0;
  }
}
.svg__qqt4M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___1K6Cm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___1K6Cm {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    min-width: 0;
    display: none;
  }
}
.button__o0TQh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cznHv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___7WeJe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ugPxQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ugPxQ:global(.__wab_instance) {
    display: none;
  }
}
.svg___6VUSp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__h60Ra {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__eaJzX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___8PODe {
  position: relative;
  object-fit: cover;
  margin-left: 76px;
  width: 100%;
  min-width: 661px;
}
.img___8PODe > picture > img {
  object-fit: cover;
}
.img___8PODe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___8PODe {
    margin-top: 34px;
    width: 100%;
    margin-left: 0px;
    min-width: 0px;
  }
}
.text__esQNc {
  position: relative;
  width: auto;
  height: auto;
  max-width: var(--token-4dqZ-4NcbCWtb);
  color: var(--token-5SlNjvWsWdbhv);
  font-size: 18px;
  padding-top: 90px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__esQNc {
    font-size: 16px;
    padding-top: 31px;
    text-align: center;
  }
}
.freeBox___0I47X {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  max-width: 1104px;
  width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox___0I47X > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox___0I47X > :global(.__wab_flex-container) > *,
.freeBox___0I47X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0I47X > :global(.__wab_flex-container) > picture > img,
.freeBox___0I47X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___0I47X {
    width: 100%;
    max-width: var(--token-4dqZ-4NcbCWtb);
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___0I47X > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___0I47X > :global(.__wab_flex-container) > *,
  .freeBox___0I47X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0I47X > :global(.__wab_flex-container) > picture > img,
  .freeBox___0I47X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 50px;
  }
}
.img___8OBla {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___8OBla > picture > img {
  object-fit: cover;
}
.img___8OBla > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___8OBla {
    max-width: 170px;
  }
}
.img__da252 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__da252 > picture > img {
  object-fit: cover;
}
.img__da252 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__da252 {
    max-width: 170px;
  }
}
.img__x31E7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__x31E7 > picture > img {
  object-fit: cover;
}
.img__x31E7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__x31E7 {
    max-width: 170px;
  }
}
.img___8BjD8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img___8BjD8 > picture > img {
  object-fit: cover;
}
.img___8BjD8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___8BjD8 {
    max-width: 170px;
  }
}
.img__vlcuj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 1198px;
}
.img__vlcuj > picture > img {
  object-fit: cover;
}
.img__vlcuj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__pTwCy {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: 774px;
  left: 0px;
  top: 1159px;
}
.img__pTwCy > picture > img {
  object-fit: cover;
}
.img__pTwCy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__j6Lg6 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: auto;
  left: auto;
  top: 754px;
  object-position: right center;
  align-self: flex-end;
}
.img__j6Lg6 > picture > img {
  object-fit: cover;
  object-position: right center;
}
.img__j6Lg6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: right center;
}
.diagramSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__vWmd {
  max-width: var(--token-4dqZ-4NcbCWtb);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vWmd {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.h2__dORq4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__dORq4 {
    font-size: 28px;
  }
}
.text__wjCux {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
.img___9OUdq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 92px;
  z-index: 2;
}
.img___9OUdq > picture > img {
  object-fit: cover;
}
.img___9OUdq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___9OUdq {
    max-width: 249px;
  }
}
.img__zLbqG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -32px;
  z-index: 1;
}
.img__zLbqG > picture > img {
  object-fit: cover;
}
.img__zLbqG > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__zLbqG {
    width: auto;
  }
}
.img__ilp2W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ilp2W > picture > img {
  object-fit: cover;
}
.img__ilp2W > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ilp2W {
    max-width: 50px;
  }
}
.img__nO9Sz {
  position: relative;
  object-fit: cover;
  max-width: 770px;
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}
.img__nO9Sz > picture > img {
  object-fit: cover;
}
.img__nO9Sz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__nO9Sz {
    max-width: 500px;
    height: auto;
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}
.freeBox__uQpk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 44px 0px 0px;
}
.freeBox__uQpk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__uQpk > :global(.__wab_flex-container) > *,
.freeBox__uQpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uQpk > :global(.__wab_flex-container) > picture > img,
.freeBox__uQpk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uQpk {
    padding-top: 19px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uQpk > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__uQpk > :global(.__wab_flex-container) > *,
  .freeBox__uQpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uQpk > :global(.__wab_flex-container) > picture > img,
  .freeBox__uQpk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.diagramCard__k4QjT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .diagramCard__k4QjT:global(.__wab_instance) {
    width: auto;
  }
}
.diagramCard__dF1Lv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.diagramCard__t1Nt5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___6QKe {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1012px;
  min-width: 0;
  padding: 160px 0px 0px;
}
.freeBox___6QKe > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox___6QKe > :global(.__wab_flex-container) > *,
.freeBox___6QKe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6QKe > :global(.__wab_flex-container) > picture > img,
.freeBox___6QKe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___6QKe {
    padding-top: 59px;
    max-width: 358px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___6QKe > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(0px - 17px);
    width: calc(100% + 17px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___6QKe > :global(.__wab_flex-container) > *,
  .freeBox___6QKe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6QKe > :global(.__wab_flex-container) > picture > img,
  .freeBox___6QKe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 17px;
    margin-top: 24px;
  }
}
.img__yumMk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__yumMk > picture > img {
  object-fit: cover;
}
.img__yumMk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__yumMk {
    max-width: 72px;
    max-height: 72px;
  }
}
.img___980Ye {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___980Ye > picture > img {
  object-fit: cover;
}
.img___980Ye > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___980Ye {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__muFxh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__muFxh > picture > img {
  object-fit: cover;
}
.img__muFxh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__muFxh {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__zTvj1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__zTvj1 > picture > img {
  object-fit: cover;
}
.img__zTvj1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__zTvj1 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__ce6N9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ce6N9 > picture > img {
  object-fit: cover;
}
.img__ce6N9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ce6N9 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__uJbl1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uJbl1 > picture > img {
  object-fit: cover;
}
.img__uJbl1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__uJbl1 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__xMhW6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xMhW6 > picture > img {
  object-fit: cover;
}
.img__xMhW6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__xMhW6 {
    max-width: 72px;
    max-height: 72px;
  }
}
.h2__hh7J6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
  padding-top: 52px;
}
.text__jEX8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__jEX8 {
    font-size: 16px;
  }
}
.deviceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .deviceSection:global(.__wab_instance) {
    height: 440px;
    flex-shrink: 0;
  }
}
.freeBox__hbooL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 388px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hbooL {
    padding-bottom: 46px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.h2__pMqkl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-unHmBQIhV9HKW);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__pMqkl {
    color: var(--token-unHmBQIhV9HKW);
  }
}
.text__zShIl {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
  color: #ffffff80;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__zShIl {
    font-size: 16px;
    padding-top: 36px;
  }
}
.img__trdbs {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 772px;
  z-index: 9;
  margin-top: -369px;
  width: auto;
}
.img__trdbs > picture > img {
  object-fit: cover;
}
.img__trdbs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__trdbs {
    left: auto;
    top: 754px;
    max-width: 360px;
    margin-top: -499px;
  }
}
.gallerySection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__mHyZx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 278px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__mHyZx {
    padding-top: 102px;
    padding-bottom: 0px;
  }
}
.columns__dp4L {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__dp4L > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__dp4L > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__dp4L > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__dp4L {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__dp4L > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qAa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__qAa {
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__sqBj2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__sqBj2 > picture > img {
  object-fit: cover;
}
.img__sqBj2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__lSrh0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__lSrh0 {
    padding: 4px 0px;
  }
}
.img__sAtLe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__sAtLe > picture > img {
  object-fit: cover;
}
.img__sAtLe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___7FaGy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___7FaGy {
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__q7Pea {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__q7Pea > picture > img {
  object-fit: cover;
}
.img__q7Pea > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__shpku {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px 8px;
}
.columns__shpku > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__shpku > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__shpku > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__shpku {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__shpku > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__umxoo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px 4px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__umxoo {
    padding-right: 0px;
  }
}
.img__g8NKw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__g8NKw > picture > img {
  object-fit: cover;
}
.img__g8NKw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__dOxGg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__dOxGg {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__c37Bi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__c37Bi > picture > img {
  object-fit: cover;
}
.img__c37Bi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__osUOa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__osUOa {
    padding-left: 0px;
  }
}
.img__hA98G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__hA98G > picture > img {
  object-fit: cover;
}
.img__hA98G > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.productSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__hD5D5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__rYKp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__e4Ebh {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__e4Ebh {
    font-size: 16px;
  }
}
.button__qubxA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__qubxA:global(.__wab_instance) {
    max-width: 171px;
    width: 100%;
    max-height: 58px;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg__t3B2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___0Bf2F {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    min-width: 0;
    margin: 8px 0px;
  }
}
.svg__pGsI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__laHpX {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__laHpX > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__laHpX > :global(.__wab_flex-container) > *,
.freeBox__laHpX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__laHpX > :global(.__wab_flex-container) > picture > img,
.freeBox__laHpX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__laHpX {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__laHpX > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__laHpX > :global(.__wab_flex-container) > *,
  .freeBox__laHpX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__laHpX > :global(.__wab_flex-container) > picture > img,
  .freeBox__laHpX
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__xwg9P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__l8GMb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__okqSz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.freeBox__okqSz > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__okqSz > :global(.__wab_flex-container) > *,
.freeBox__okqSz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__okqSz > :global(.__wab_flex-container) > picture > img,
.freeBox__okqSz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__okqSz > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__okqSz > :global(.__wab_flex-container) > *,
  .freeBox__okqSz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__okqSz > :global(.__wab_flex-container) > picture > img,
  .freeBox__okqSz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__sr4Ow:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard___9D2KT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__s53Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__ftlJl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-unHmBQIhV9HKW);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__ftlJl {
    padding-top: 18px;
  }
}
.freeBox__s5Lbg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 46px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__s5Lbg {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__aVeC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___9NrV0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img___9NrV0 > picture > img {
  object-fit: cover;
}
.img___9NrV0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___9NrV0 {
    max-width: 339px;
  }
}
.freeBox__z8Pb5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__hsazF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 41px;
  color: var(--token-unHmBQIhV9HKW);
  text-align: left;
  font-size: 48px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__hsazF {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox___6Y9Ve {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___6Y9Ve {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
.img___7KrL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___7KrL > picture > img {
  object-fit: cover;
}
.img___7KrL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ud4ER {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff80;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  padding-top: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__ud4ER {
    padding-bottom: 0px;
    font-size: 16px;
  }
}
.freeBox__co8Yl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 52px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__co8Yl {
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }
}
.img__pt60M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__pt60M > picture > img {
  object-fit: cover;
}
.img__pt60M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__pt60M {
    width: auto;
    align-self: flex-start;
  }
}
.text__nmDq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 523px;
  padding-top: 32px;
  align-self: center;
  color: #ffffff80;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__nmDq {
    font-size: 18px;
    text-align: left;
    padding-top: 23px;
  }
}
.freeBox___5Mlf4 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 97px 0px 0px;
}
.freeBox___5Mlf4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5Mlf4 {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    width: 669px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5Mlf4 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5Mlf4 > :global(.__wab_flex-container) > *,
  .freeBox___5Mlf4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5Mlf4 > :global(.__wab_flex-container) > picture > img,
  .freeBox___5Mlf4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout___9Sj77:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__vqYni:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__xyqTg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__olDmk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__olDmk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__olDmk {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__olDmk > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__olDmk > :global(.__wab_flex-container) > *,
  .freeBox__olDmk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__olDmk > :global(.__wab_flex-container) > picture > img,
  .freeBox__olDmk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__ikUb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__wSijc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__xuvGd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__kyEdd {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: -38px;
  top: 463px;
  display: none !important;
}
.img__kyEdd > picture > img {
  object-fit: cover;
}
.img__kyEdd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__kyEdd {
    display: none !important;
  }
}
.img__hsbxn {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  left: 1100px;
  top: 463px;
}
.img__hsbxn > picture > img {
  object-fit: cover;
}
.img__hsbxn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__hsbxn {
    display: none !important;
  }
}
.priceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}
.startSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___47Fdr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: linear-gradient(#185adb, #185adb), #185adb;
  margin-top: 0px;
  margin-bottom: 48px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___47Fdr {
    margin-bottom: 0px;
  }
}
.img__tq7Fe {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
}
.img__tq7Fe > picture > img {
  object-fit: cover;
}
.img__tq7Fe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns___6Tvi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns___6Tvi > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns___6Tvi > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6Tvi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6Tvi > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__an7C4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 54px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__an7C4 {
    padding: 0px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 116px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-unHmBQIhV9HKW);
  font-size: 48px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    width: 100%;
    text-align: left;
    align-self: center;
    padding-top: 0px;
    font-size: 28px;
    min-width: 0;
  }
}
.text__iZfpn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 740px;
  color: var(--token-unHmBQIhV9HKW);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 108px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__iZfpn {
    text-align: left;
    padding-bottom: 40px;
    padding-top: 24px;
  }
}
.column__ymrW9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__ymrW9 {
    padding-bottom: 38px;
  }
}
.button__hzS3W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__hzS3W:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__viBeE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__r5TgT {
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.svg__jbSgM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__lUc3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns___6OdUz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns___6OdUz > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.columns___6OdUz > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns___6OdUz > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns___6OdUz > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns___6OdUz > :global(.__wab_flex-container) > *,
.columns___6OdUz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___6OdUz > :global(.__wab_flex-container) > picture > img,
.columns___6OdUz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6OdUz {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6OdUz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___6OdUz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 52px) * 12 / 12);
  }
}
.column__zcGmy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__vaXtq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__mUdEt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__iRlDt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__iRlDt:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__n1LbJ {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__ew9Ln {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__ew9Ln {
    top: 85px;
    font-size: 14px;
  }
}
.column__uxd6T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__eQsi9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__eQsi9:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
